language: python
sudo: required
dist: trusty

python:
  - "3.4"

virtualenv:
  system_site_packages: true

env:
 - PYTEST_QT_API=pyqt5

before_install:
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"

install:
 - sudo apt-get update
 - sudo apt-get install -y -qq python3-pyqt5 python3-pyqt5.qtsvg gnome-icon-theme-full --fix-missing
 - pip install pytest pytest-qt pytest-cov coveralls pytest-flake8 --use-wheel

script:
 - pip install -e .
 - catchsegv py.test --cov hackedit/api --flake8

after_success:
 - coveralls
