environment:
    matrix:
        - PYTHON: "C:\\Python34"
          PYTHON_VERSION: "3.4.x" # currently 3.4.3
          PYTHON_ARCH: "32"

        - PYTHON: "C:\\Python34-x64"
          PYTHON_VERSION: "3.4.x" # currently 3.4.3
          PYTHON_ARCH: "64"

install:
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - python -m pip install --upgrade pip setuptools
  - python -u scripts\install-qt.py
  - python -m pip install -e .

build: false  # Not a C# project

test_script:
  # Run the project tests
  - py.test
