include *.json
include *.py
include *.pyw
include *.txt
include .coveragerc
include LICENSE
include pytest.ini
recursive-include .hackedit *.py
recursive-include .hackedit *.json
recursive-include data *.desktop
recursive-include data *.ttf
recursive-include data *.gif
recursive-include data *.png
recursive-include data *.qrc
recursive-include data *.svg
recursive-include data *.theme
recursive-include data *.ui
recursive-include data *.zip
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include launchers *.icns
recursive-include launchers *.ico
recursive-include launchers *.iss
recursive-include launchers *.py
recursive-include scripts *.py
recursive-include scripts *.rst
recursive-include tests *.py
include hackedit/vendor/jedi/parser/*.txt

include scripts/git-hooks/post-commit
include scripts/git-hooks/pre-commit
include hackedit/vendor/sqlite3-32bits.dll
include hackedit/vendor/sqlite3-64bits.dll
