#
# Dependencies that need to be installed to develop hackedit.
#
# extlibs that are distributed though an internal package put on sys.path
pyqode.qt
pyqode.core
pyqode.python
pyqode.cobol
pyqode.rst
pyqode.json
future
pygments
-e git://github.com/ColinDuquesnoy/jedi.git@bugfix/performances_degradation#egg=jedi
pep8
pyflakes
restructuredtext_lint
boss
cement
qdarkstyle
qcrash

# required for development
sphinx
pyqt-distutils

# required for testing
coverage
pytest
pytest-qt
pytest-cov
pytest-pep8
pytest-flake8
