#
# Dependencies that need to be installed to develop hackedit.
#
# Third party libraries that are distributed through an internal package put on
# sys.path
future
pygments
-e git://github.com/ColinDuquesnoy/jedi.git@bugfix/performances_degradation#egg=jedi
pep8
pyflakes
restructuredtext_lint
qdarkstyle
qcrash
binaryornot
chardet
colorama
coloredlogs
humanfriendly

# required for development
sphinx
pyqt-distutils

# required for testing
coverage
pytest
pytest-qt
pytest-cov
pytest-pep8
pytest-flake8
