#
# Dependencies that need to be installed to develop hackedit.
#
# extlibs that are distributed through an internal package put on sys.path
-e git://github.com/pyQode/pyqode.qt#egg=pyqode.qt
-e git://github.com/pyQode/pyqode.core#egg=pyqode.core
-e git://github.com/pyQode/pyqode.python#egg=pyqode.python
-e git://github.com/pyQode/pyqode.cobol#egg=pyqode.cobol
-e git://github.com/pyQode/pyqode.rst#egg=pyqode.rst
-e git://github.com/pyQode/pyqode.json#egg=pyqode.json
future
pygments
jedi
pep8
pyflakes
restructuredtext_lint
boss
cement
qdarkstyle
qcrash

# required for development
sphinx
pyqt-distutils

# required for testing
coverage
pytest
pytest-qt
pytest-cov
pytest-pep8
pytest-flake8
