#
# Dependencies that need to be installed to develop hackedit.
#
# Third party libraries that are distributed through an internal package put on
# sys.path
dependency_injector
PyQt5
future
pygments
-e git://github.com/davidhalter/jedi.git@dev#egg=jedi
pep8
pyflakes==1.0.0
restructuredtext_lint
qdarkstyle
qcrash
binaryornot
chardet
colorama
coloredlogs
humanfriendly

# required for development
sphinx
pyqt-distutils

# required for testing
coverage
pytest
pytest-qt
pytest-cov
pytest-pep8
pytest-flake8
