[Desktop Entry]
Encoding=UTF-8
GenericName=Hackable text editor
Name=HackEdit
Comment=The hackable editor
TryExec=hackedit
Exec=hackedit %U
Terminal=false
Type=Application
Icon=hackedit
Categories=Development;IDE;
MimeType=text/plain;text/x-python;
StartupWMClass=HackEdit
